/* Base styles for the footer */
.footer {
    background: linear-gradient(145deg, #333, #222);
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Responsive styles for medium screens */
  @media (max-width: 768px) {
    .footer {
      padding: 8px 5px; /* Slightly reduce padding for medium screens */
      font-size: 0.9em; /* Optionally reduce font size for medium screens */
    }
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 480px) {
    .footer {
      padding: 5px 2px; /* Further reduce padding for small screens */
      font-size: 0.8em; /* Optionally reduce font size for small screens */
    }
  }
  